In [72]:
from requests import get

In [73]:
url = get("https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating")

In [74]:
request = url.text

In [76]:
from bs4 import BeautifulSoup as Soup

In [77]:
soup_data = Soup(request,'html.parser')

In [79]:
soup_data.title.text

'IMDb "Top 1000"\n(Sorted by IMDb Rating Descending) - IMDb'

In [80]:
movies = soup_data.findAll('div',{'class':'lister-item mode-advanced'})

In [83]:
first_movie = movies[0]

In [86]:
first_movie.h3.a.text  #Name of the movie

'The Shawshank Redemption'

In [91]:
first_movie.find('span',{"class":"lister-item-year text-muted unbold"}).text[1:5]  #YEAR

'1994'

In [93]:
first_movie.find('div',{"class":"inline-block ratings-imdb-rating"})['data-value'] #rating

'9.3'

In [97]:
first_movie.find('div',{"class":"inline-block ratings-metascore"}).span.text.strip() #metascore

'80'

In [99]:
first_movie.find('span',{"name":'nv'})['data-value']

'2271982'

In [102]:
Name = []
Year = []
Rating = []
Meta_score = []
Votes = []
for i in movies:
    Name.append(i.h3.a.text)
    Year.append(i.find('span',{"class":"lister-item-year text-muted unbold"}).text[1:5])
    Rating.append(i.find('div',{"class":"inline-block ratings-imdb-rating"})['data-value'])
    try:
        Meta_score.append(i.find('div',{"class":"inline-block ratings-metascore"}).span.text.strip())
    except:
        Meta_score.append(0)
    Votes.append(i.find('span',{"name":'nv'})['data-value'])

In [105]:
data = list(zip(Name,Year,Rating,Meta_score,Votes))

In [106]:
import pandas as pd
df = pd.DataFrame(data,columns=['Name',"Year","Rating","Metascore","Votes"])

In [109]:
df.tail()

                        Name  Year Rating Metascore   Votes
80               Rear Window  1954    8.4        69  430935
81              Sunset Blvd.  1950    8.4        55  195033
82        The Great Dictator  1940    8.4        68  196664
83                      1917  2019    8.3        84  354814
84  Uri: The Surgical Strike  2019    8.3        70   40826

In [110]:
df.to_csv("imbd.csv",index = False)